MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=coinly
JWT_SECRET=KEY
UPSTASH_REDIS_REST_URL=https://<your-upstash-endpoint>.upstash.io
UPSTASH_REDIS_REST_TOKEN=<your-upstash-token>
